static/
_data/
build/
*.pyc
*.txt
*.pkl
*~
*log
*.out
*.zip
settings.py
java/nbproject/private/
java/knowevo/nbproject/private/
java/knowevo/nbproject/private/
java/knowevo/dist/
java/MyVizster/
java/VApplet/
*#
*.svg
tmp
tmpfile
rsch/*.py
migrations/
*.gz
java/knowevo2/nbproject/private/