<html>
  <head>
    <script src="/knowevo/static/jquery-1.7.2.js" ></script>
    <script src="/knowevo/static/highcharts.src.js" ></script>

    <title>{{ article.name }}</title>
    {% if evo_chart %}
      {% load chartit %}
      {{ evo_chart|load_charts:"evo_container" }}
    {% endif %}
  </head>
  <body>
    
    {% include "gravebook/search_header.html" %}

    <div class="front_page">
      <h2 class="title">{{ article.name }} ({{ article.birth }} - {{ article.death }})</h2>
      
      <div class="front_content">
	<a href="http://en.wikipedia.org/wiki/{{ article.name }}">
	  {% if image %}
	  <img src="{{ image }}" class="front_image" alt="Image could not be loaded from Wikipedia"/>
	  {% else %}
	  <span class="front_image">No image found on Wikipedia</span>
	  {% endif %}
	</a>
	<div id="evo_container"></div>
      </div>
    </div>

    <div id="spring_container"> </div>

    <script>
      //$("#spring_container").load("_spring_box");
    </script>

    <div class="people_div">
      <span class="people" id="text_span">Avaialable text</span>
      {% for match in article.article_set.iterator %}
      {% if match.art_ed != 1000 %}
      <span class="people text_detail" onclick="loadArticleData('text_div','_{{ match.art_ed }}')">
	Edition {{ match.art_ed }}
      </span>
      {% endif %}
      {% endfor %}
      <span class="people text_detail" onclick="loadArticleData('text_div','_1000')">Wikipedia</span>

      <div id="text_div"></div>
    </div>
    
    <div class="people_div">
      <span class="people" onclick="loadArticleData('peers_div')">Show {{ article.name }}'s peers</span>
      <div id="peers_div"></div>
    </div>

    <div class="people_div">
      <span class="people" onclick="loadArticleData('influenced_by_div')">Show who {{ article.name }} was influenced by</span>
      <div id="influenced_by_div"></div>
    </div>

    <div class="people_div">
      <span class="people" onclick="loadArticleData('influences_div')">Show who {{ article.name }}'s influenced</span>
      <div id="influences_div"></div>
    </div>

    <div class="people_div">
      <span class="people" onclick="loadArticleData('categories_div')">Show {{ article.name }}'s categories</span>
      <div id="categories_div"></div>
    </div>

    
  </body>
</html>
