<html>
  <head>
    <title>Gravebook - Obituaries for the famous dead and the famous living</title>

    <link rel="stylesheet" type="text/css" href="/knowevo/static/grave.css" />
    <script src="/knowevo/static/jquery-1.7.2.js" ></script>
    <script src="/knowevo/static/highcharts.src.js" ></script>
    <script src="/knowevo/static/grave.js"></script>
    <script> 
      var csrf_token = '{{ csrf_token }}';
    </script>
  </head>
  <body>
    <div class="header">
      <span class="header_title">GRAVEBOOK</span>
      <form name="search_form" onsubmit="searchSubmit(this); return false;" class="grave_search"
	    method="post">
	{% csrf_token %}
	<input type="text" id="title_inp" name="title_inp" class="grave_search_inp" 
	       value="Person of interest" onfocus="inputFocus(this)" onblur="inputBlur(this)"/>
	<input type="submit" style="display:none;"> </input>
      </form>
      
      {% if searched and articles|length == 0 %}
      <p>Sorry, no results found for the provided parameters</p>
      {% endif %}
    </div>
    
    <div id="res_container"></div>

    
  </body>
</html>
