<link rel="stylesheet" type="text/css" href="/knowevo/static/grave.css" />
<script src="/knowevo/static/grave.js"></script>

<div class="header">
  <span class="header_title">GRAVEBOOK</span>
  <form name="search_form" action="/knowevo/gravebook/" method="post" class="grave_search">
    {% csrf_token %}
    <input type="text" id="title_inp" name="title_inp" class="grave_search_inp" 
	   value="Person of interest" onfocus="inputFocus(this)" onblur="inputBlur(this)"/>
  </form>
  
  {% if searched and sarticles|length == 0 %}
  <p>Sorry, no results found for the provided parameters</p>
  {% endif %}
</div>

<div id="res_container"></div>

{% if sarticles %} 
<table id="res_table" name="res_table" class="grave_search_table">
  <tr><th>Name</th><th>Birth</th><th>Death</th><th>Avaialbe Britannica Editions</tr>
  {% endif %}
  {% for article in sarticles %}
  <tr><td><a href="/knowevo/gravebook/{{ article.name }}/">
	{{ article.name|slice:"32" }}
	{% if article.name|length > 32 %}
	...
	{% endif %}
    </a></td>
    {% if article.birth == -1 %} <td>-</td>
    {% else %} <td>{{ article.birth }}</td>
    {% endif %}
    
    {% if article.death == -1 %} <td>-</td>
    {% else %} <td>{{ article.death }}</td>
    {% endif %}

    <td>
      {% if article.article_set.count == 0 %}
      <span>-</span>
      
      {% else %}
      {% for match in article.article_set.iterator %}

      {% if match.art_ed != 1000 %}
      <span>{{ match.art_ed }}, </span>
      {% endif %}

      {% endfor %}
      {% endif %}
    </td>

  </tr>
  {% endfor %}
  
  {% if sarticles %}
</table>
{% endif %}
