body {
    background-color:#eee ; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:1em;
    color: 380000;
    margin: 7 15 15 15;
    border: 0.5em solid #380000;
    
    box-shadow: 0.5em 0.5em 0.5em  #380000;
    min-height:960px;
}

div.header {
    width:100%;    
    background-color:#380000 ; 
    overflow:hidden;
}

span.header_title {
    font-weight:800;
    font-size:1.5em;
    color:#eee;
    float:left;
}

.grave_search {
    float:right;
    text-align:right;
}

.grave_search_inp {
    color:#888;
    width:250px;
}

.front_page {
    text-align:center;
}

div.front_content {
    margin: 10 auto 10 auto;
    width: 1120px;
}

.front_image {
    width:300px;
    margin:5px;
    float:left;
}

#evo_container {
    width:800px;
    margin:5px;
    float:left;
}

.grave_search_table {
    border-collapse: collapse;
    font-size: 0.8em;
    width:900px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
}

th {
    padding: 0 0.5em;
    text-align: left;
}

td {
    padding: 0 0.5em;
    text-align: left;
}

.other_ed {
   border-collapse: collapse;
   font-size: 0.9em;
   width:600px;
   margin-top:30px;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
}

.people_div {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;

    margin-right: 15px;
    padding-right: 5px;


    width:100%;
    clear:both;
    border: 0px solid gray;
    text-align:center;
}

.people {
    float:none;
    display:inline;
    margin-right:10px;
    margin-top:2px;
    margin-bottom:2px;
    font-weight:600;
}

span.people {
    clear:both;
    margin-right:auto;
    margin-left:auto;
    display:block;
    width:300px;
}

span.people:hover {
    background-color:#EBC4C4;
}

span#text_span:hover {
    background-color:#eee;
}

div#text_div {
    padding-left:30px;
    padding-right:30px;
}

span.text_detail {
    display:inline;
    padding-left:20px;
    padding-right:20px;
    width:100%;
}

a {
    text-decoration:none;
    color:#000;
    background-color:#eee ;
    font-weight:400;
}
a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
    background-color:#EBC4C4;
}
a:active {
    text-decoration:none;
    background-color:#EBC4C4;
}

