<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/knowevo/static/knowevo.css" />
    <title>Welcome to the Digital Incunabula Website</title>
  </head>
  <body>
    <div class="contents">
      {% if not master_arts %}
      {% include "incunabula/intro.html" %}
      {% endif %}
      <form name="search_form" action="" method="post" class="form_search">
	{% csrf_token %}
	<label for="title_inp">Search Knowevo for historical figures:</label>
	<input type="text" id="title_inp" name="title_inp" />
	
	<input type="submit" value="Go" />
      </form>
      <div style="margin-bottom:20px">Also check <a href="/knowevo/gravebook">Gravebook</a> out for more detailed information on historical figures!</div>

      {% if master_arts|length == 0 %}
      <p>Sorry, no results found for the provided parameters</p>
      {% endif %}

      {% if master_arts %} 
      <table id="res_table" name="res_table" class="res_table">
	<tr><th>Name</th><th>Edition 3</th><th>Edition 9</th><th>Edition 11</th><th>Edition 15</th></tr>
	{% endif %}
	{% for master_name, alist in master_arts %}
	<tr><td><a href="/knowevo/incunabula/{{ master_name }}/">{{ master_name }}</a></td>
	  {% for art in alist %}
          <td>{{ art.name }}</td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
    <div>
  </body>
</html>
