<html>
  <head>
    <title>{{ master_name }}</title>

    <script src="/static/js/jquery-1.7.2.js" ></script>
    <script src="/static/js/highcharts.js" ></script>
    {% load chartit %}
    {{ evo_chart|load_charts:"evo_container" }}
  </head>
  <body>

    <div id="evo_container"></div>

    {% if arts %} 
    <table id="res_table" name="res_table" border="1">
      <tr><th>Name</th><th>Edition 3</th><th>Edition 9</th><th>Edition 11</th><th>Edition 15</th></tr>
    {% endif %}
      <tr>
	<td><a href="http://en.wikipedia.org/wiki/{{ master_name }}">
	    {{ master_name }}</a></td>

      {% for art in arts %}
        <td>
	  <a href="/knowevo/incunabula/{{ art.id }}/">{{ art.name }}</a></br>
	  Page Rank: {{ art.prank }} </br>
	  Volume Size: {{ art.volume_score }} </br>
	</td>
      {% endfor %}
      </tr>
    {% if arts %}
    </table>
    {% endif %}    
  </body>
</html>
